.addItem {
  @include span(12 of 12);
  float: none;

  transition: height 0.5s ease;

  height: 15rem;
  @include breakpoint($bp-mobile) {
    height: 30rem;
  }

  &.active {
    height: 2rem;
    @include breakpoint($bp-mobile) {
      height: 13rem;
    }
    @include breakpoint($bp-small) {
      height: 10rem;
    }

    .title {
      display: none;
    }

    .description {
      transition: margin-top 0.5s ease;

      margin-top: 2rem;
      @include breakpoint($bp-mobile) {
        margin-top: 5rem;
      }
    }

    .addInput {
      margin-left: 0;
      margin-top: 2rem;

      @include breakpoint($bp-small) {
        margin-left: span(3 of 12);
      }
    }
  }

  .title {
    //-- Positioning --
    position: absolute;
    @include span(12 of 12);

    margin-top: 6rem;
    @include breakpoint($bp-mobile) {
      margin-top: 9rem;
    }
    @include breakpoint($bp-med) {
      margin-top: 12rem;
    }

    //-- Text --
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
    color: white;
  }

  .description {
    //-- Positioning --
    @include span(8 of 12);
    margin-left: span(2 of 12);

    margin-top: 13rem;
    @include breakpoint($bp-med) {
      margin-top: 15rem;
    }

    display: none;
    @include breakpoint($bp-mobile) {
      display: block;
    }

    //-- Text --
    font-weight: 300;
    font-size: 1.3rem;
    text-align: center;
    color: white;
  }

  .addInput {
    //-- Positioning --
    @include span(10 of 12);
    margin-left: span(1 of 12);

    margin-top: 10rem;
    margin-bottom: 2rem;
    @include breakpoint($bp-mobile) {
      margin-top: 2rem;
    }
    @include breakpoint($bp-small) {
      @include span(6 of 12);
      margin-left: span(3 of 12);
    }

    //-- Background --
    background-color: white;
  }
}