.sendEmail {
  .openSendEmailIcon {
    position: absolute;
    right: 2rem;
    top: 2rem;

    transition: position 0.5s ease;

    &.active {
      right: 1.5rem;
      top: 3rem;

      @include breakpoint($bp-mobile) {
        right: 2rem;
        top: 13rem;
      }
      @include breakpoint(33.75rem) {
        right: 2rem;
        top: 11.3rem;
      }
      @include breakpoint($bp-small) {
        right: 5rem;
        top: 11.2rem;
      }
      @include breakpoint($bp-med) {
        right: 10rem;
        top: 11.2rem;
      }
      @include breakpoint(64.8125rem) {
        top: 9.5rem;
      }
    }

    cursor: pointer;
  }
}