.items {
  .toSortContainer {
    // -- Positioning --
    @include span(12 of 12);
    background-color: #b3b3b3;
  }

  .sortableListContainer {
    // -- Positioning --
    @include span(12 of 12);
    background-color: white;
    
    // -- Dragging Styles --
    // Used to disable the 'ghosting' drag effect
    user-drag: none; 
    user-select: none;
  }
}