.sortableList {
  // -- Dragging Styles --
  user-drag: none; 
  user-select: none;

  .list {
    // -- Positioning --
    @include span(12 of 12);

    @include breakpoint($bp-small) {
      @include span(6 of 12);
      margin: 1rem 0;
    }
    @include breakpoint($bp-med) {
      @include span(4 of 12);
      margin: 1rem 0;
    }

    display: inline-block;

    // -- Dragging Styles --
    user-drag: none; 
    user-select: none;

    * {
      user-drag: none; 
      user-select: none;
    }

    .headerListItem {
      color: #b3b3b3;
      border-bottom: 1px solid red;

      .listItem {
        padding-left: 1rem;
      }
    }
  }
}